:root {
  --surface-0: #000;
  --surface-1: #1e1e1e;
  --surface-2: #252525;
  --border-1: #c0c0c0;
  --text-primary: #fff;
  --text-inactive-0: #757575;
  --text-active-0: #fff;
  --text-figcaption: #f8f8f8;

  --pagination-line-active: #ccc;
  --pagination-line-inactive: #3d3d3d;

  --text-external-product-link: #000;
  --surface-external-product-link: #fff;
  --shadow-external-product-link: #20272c;

  --tapbar-bg: #171717;
}
