@font-face {
    font-family: 'Fira Sans Extra Condensed';
    src: local('Fira Sans Extra Condensed Medium'), local('FiraSansExtraCondensed-Medium'),
        url('FiraSansExtraCondensed-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans Extra Condensed';
    src: local('Fira Sans Extra Condensed Regular'), local('FiraSansExtraCondensed-Regular'),
        url('FiraSansExtraCondensed-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

