.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 50px;
}

.headerLink {
  font-size: 12px;
  text-decoration: none;
  color: var(--text-inactive-0);
}

.userShortInfo {
  display: flex;
  align-items: center;
  gap: 17px;
}

.avatar {
  width: 76px;
  height: 76px;
  border-radius: 9999px;
  object-fit: cover;
}

.placeholder {
  width: 76px;
  height: 76px;
}

.placeholder svg {
  width: 100%;
  height: 100%;
}

.title {
  font-size: 23px;
  font-weight: 600;
}

.username {
  font-size: 12px;
  font-weight: 600;
  margin-block: 4px;
}
